################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ECSBasicTutorial/.vs
/ECSBasicTutorial/ECSApp/bin
/ECSBasicTutorial/ECSApp/obj
/ECSBasicTutorial/ECSEngine/bin
/ECSBasicTutorial/ECSEngine/obj
/ECSBasicTutorial/bin
/ObjectPool/.vs/ObjectPool/v16
/ObjectPool/bin/Debug/netcoreapp3.1
/ObjectPool/ObjectPool/obj
